extends ../layout

block content
	.content.content-alt
		.container
			.row
				.registration_message
					if sharedProjectData.user_first_name !== undefined
						h1  #{translate("user_wants_you_to_see_project", {username:sharedProjectData.user_first_name, projectname:""})}
							em(ng-non-bindable) #{sharedProjectData.project_name}
						div
							| #{translate("join_sl_to_view_project")}.
						div
							| #{translate("if_you_are_registered")},
							a(href="/login")  #{translate("login_here")}
					else if newTemplateData.templateName !== undefined
						h1 #{translate("register_to_edit_template", {templateName:newTemplateData.templateName})}

						div #{translate("already_have_sl_account")}
							a(href="/login")  #{translate("login_here")}

			.row
				.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					.card
						.page-header
							h1 #{translate("register")}
						p
							| Nye registreringer er åbne for email-adresser, som er skrevet
							| op til revyster-mailinglisten:
						form(
							async-form="register-unauth",
							name="registerUnauthForm",
							action="/register"
							method="POST",
							ng-cloak
							)
							input(type="hidden", name="_csrf", value=csrfToken)
							.form-group
								label(for='email') #{translate("email")}
								.row
									.col-md-8.col-xs-8
										input.form-control(
											type='email',
											name='email',
											placeholder='eksempel@fys.ku.dk',
											required,
											ng-model="email",
											ng-init='email = '+JSON.stringify(email),
											ng-model-options="{ updateOn: 'blur' }"
										)
									.col-md-4.col-md-4
										.actions
											button.btn-primary.btn(
												type='submit',
												ng-disabled="registerUnauthFrom.inflight || registerUnauthForm.email.$error.required"
												)
												span(ng-show='!registerUnauthForm.inflight') Send
												span(ng-show='registerUnauthForm.inflight') Sender...
							form-messages(for="registerUnauthForm")
						h2 Andre email-adresser
						p
							| Skriv til en administrator:
							|
							- var adminEmail = settings.adminEmail
							a(href="mailto:" + adminEmail) #{settings.adminEmail}


